{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>


<style>
  .drawer {
    visibility: hidden;
  }

  .promo-button {
      min-width: 0;
      min-height: 0;
      width: fit-content;
      height: 30px;
      padding: 1rem 2rem;
      border-radius: 5px;
      flex-shrink: 0; 
      max-width: 50%; 
      white-space: nowrap; 
      cursor: pointer;
      background-color: {{ settings.promo_button_color }};
      color: white;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      border: none;
      font-family: inherit;
  }
</style>


<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >  
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </div>
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <h4 class="drawer__heading">{{ 'sections.cart.title' | t }}</h4>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>

        {% if cart != empty and settings.show_shipping_bar %}
{% render 'progress-bar' %}
          {% endif %} 
      
      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
  <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
              <table class="cart-items" role="table">              
                     <tbody role="rowgroup">
                    {%- for item in cart.items -%}
                      <div id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                        <div class="cart-item__media" rowspan="2" role="cell" headers="CartDrawer-ColumnProductImage">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          {% endif %}
                        </div>
                      <div class="flex items-start">
                        <div class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                          {%- endif -%}

                          <a href="{{ item.url }}" class="cart-item__name h4 break">
                            {{- item.product.title | escape -}}
                          </a>

                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <dl>
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <span class="product-option">
                                      {{ option.value -}}
                                      {%- unless forloop.last %} / {% endunless %}
                                  </span>
                                {%- endfor -%}
                              {%- endif -%}
                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>
                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}

                        </div
                            <div class="cart-remove">
                                <cart-remove-button id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary cart-remove-button"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                  data-variant-id="{{ item.variant.id }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-remove.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                           </cart-remove-button>
                          </div>
                        {%- liquid
                          assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                            assign has_qty_rules = true
                          endif

                          assign has_vol_pricing = false
                          if item.variant.quantity_price_breaks.size > 0
                            assign has_vol_pricing = true
                          endif
                        -%}
                        <div
                          class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                          role="cell"
                          headers="CartDrawer-ColumnQuantity"
                        >
                          <quantity-popover>

                             {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option">
                                {{ item.final_price | money }}
                              </strong>
                              <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                            {%- for discount in item.line_level_discount_allocations -%}
                              <li class="discounts__discount discount-from-items">
                                {{- 'icon-discount.svg' | inline_asset_content -}}
                                {{ discount.discount_application.title }}
                              </li>
                            {%- endfor -%}
                          </ul>
                            </div>
                          {%- else -%}
                            <div class="priceunit product-option">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}

                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                <quantity-input class="quantity cart-quantity">
                                  <button class="quantity__button" name="minus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-minus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-index="{{ item.index | plus: 1 }}"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                  <button class="quantity__button" name="plus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-plus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                </quantity-input>
                              </div>
                              
                            </div>
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                aria-expanded="false"
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-info.svg' | inline_asset_content -}}
                                </span>
                                <span>
                                  {%- if has_vol_pricing -%}
                                    {{ 'products.product.volume_pricing.note' | t }}
                                  {%- elsif has_qty_rules -%}
                                    {{ 'products.product.quantity.note' | t }}
                                  {%- endif -%}
                                </span>
                              </button>
                            {%- endif -%}
                            {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                                {%- if has_qty_rules == false -%}
                                  <span class="volume-pricing-label caption">
                                    {{- 'products.product.volume_pricing.title' | t -}}
                                  </span>
                                {%- endif -%}
                                <div class="quantity__rules caption">
                                  {%- if item.variant.quantity_rule.increment > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.multiples_of'
                                        | t: quantity: item.variant.quantity_rule.increment
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.min > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.min_of'
                                        | t: quantity: item.variant.quantity_rule.min
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.max != null -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.max_of'
                                        | t: quantity: item.variant.quantity_rule.max
                                      -}}
                                    </span>
                                  {%- endif -%}
                                </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-close.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                  <volume-pricing class="parent-display">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span>{{ item.variant.quantity_rule.min }}+</span>
                                        <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                      </li>
                                      {%- for price_break in item.variant.quantity_price_breaks -%}
                                        <li>
                                          <span>
                                            {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                          <span>{{ price_break.price | money_with_currency }}/ea</span>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </volume-pricing>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                              <small class="cart-item__error-text"></small>
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </quantity-popover>
                        </div>
                      </div>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>      
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
     {% if cart != empty and settings.show_recommended_products %}
  {% render 'recommended-products' %}
{% endif %}   
      </cart-drawer-items> 
      <div class="drawer__footer">   
        
        
     {% if settings.show_cart_note or settings.show_promo_code %}
<div class="cart-footer__fields" data-collapse-group>
  <div class="onglet-wrap" role="tablist">
    {% if settings.show_cart_note %}
    <button class="onglet" id="tab-note" role="tab" aria-controls="note" aria-selected="false">
     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 512 512" style="margin-right: 5px;">
        <path d="M0 0 C1.19946858 -0.00445784 2.39893717 -0.00891569 3.63475329 -0.01350862 C4.95408482 -0.01332426 6.27341635 -0.01313989 7.63272762 -0.01294994 C9.04727258 -0.01624968 10.46181659 -0.01997548 11.8763594 -0.02409142 C15.76822808 -0.03410719 19.66008133 -0.03782754 23.55196106 -0.04048073 C27.74778436 -0.04438507 31.94359546 -0.05396336 36.13941097 -0.0626936 C46.27507193 -0.08245493 56.41073388 -0.09252406 66.54640928 -0.10142139 C71.32025858 -0.10580506 76.09410678 -0.11117169 80.86795521 -0.11641026 C96.73891533 -0.13342264 112.60987475 -0.14791642 128.48084259 -0.155159 C132.59933695 -0.15706887 136.71783131 -0.15898921 140.83632565 -0.16094494 C142.37176174 -0.16167055 142.37176174 -0.16167055 143.93821674 -0.16241082 C160.51720615 -0.17070966 177.09612337 -0.19604407 193.67508126 -0.22852562 C210.69889928 -0.26160661 227.72268062 -0.27960872 244.74653095 -0.28280324 C254.30373036 -0.28496743 263.86082452 -0.29370277 273.41799259 -0.31926441 C281.55806525 -0.34098565 289.69800709 -0.34901484 297.83810545 -0.33929763 C301.98936951 -0.33475698 306.14036374 -0.33662533 310.29159069 -0.35605907 C314.09724666 -0.3737207 317.90243656 -0.37266908 321.70809769 -0.35716178 C323.72587362 -0.3536728 325.74365461 -0.36978961 327.76136214 -0.38676625 C339.85038585 -0.30157888 349.34214416 2.67717789 358.16615963 11.13422108 C366.08075925 19.70706462 370.28432511 28.65250643 370.30038071 40.31115532 C370.30273294 41.03847582 370.30508517 41.76579632 370.30750868 42.51515684 C370.31419394 44.96534668 370.3137406 47.41548344 370.31333065 49.86568165 C370.31662957 51.63495923 370.3203552 53.40423606 370.32447213 55.17351192 C370.33449708 60.04591565 370.33820972 64.91830705 370.34086144 69.79071963 C370.34476303 75.04176618 370.35434149 80.29280295 370.3630743 85.54384327 C370.38284302 98.23051014 370.39290554 110.91717781 370.40180209 123.60385624 C370.40618441 129.57712777 370.41155137 135.55039841 370.41679096 141.52366924 C370.43380381 161.37841991 370.44829814 181.23317003 370.4555397 201.08792686 C370.45744962 206.24113497 370.45936995 211.39434307 370.46132565 216.54755116 C370.46180939 217.82836809 370.46229313 219.10918502 370.46279152 220.42881458 C370.47109239 241.17870659 370.49643004 261.92854096 370.52890632 282.6784078 C370.5619717 303.97819245 370.579988 325.2779478 370.58318394 346.57775825 C370.58534954 358.53827674 370.59410553 370.49871119 370.61964512 382.45920467 C370.64134497 392.64508742 370.64940602 402.8308657 370.63967834 413.01676894 C370.63513158 418.21304989 370.63704191 423.40911528 370.65643978 428.60536671 C370.67405713 433.36581031 370.67308519 438.12588085 370.65754249 442.88632833 C370.65516426 444.60510558 370.65950111 446.32390857 370.67137114 448.04264648 C370.76389359 462.32871262 368.49476316 474.40819456 358.28334713 485.10687733 C350.96689691 491.86383429 342.1922293 496.37526144 332.08901691 496.39428329 C330.28476594 496.40488168 330.28476594 496.40488168 328.44406545 496.41569418 C327.13124172 496.41327909 325.81841799 496.41086401 324.46581173 496.40837574 C323.05025151 496.4128301 321.63469378 496.4181448 320.2191397 496.42424446 C316.33370249 496.43841145 312.44834533 496.440088 308.562886 496.43964756 C304.37047694 496.44129693 300.17810074 496.45436579 295.98570919 496.46584034 C286.82026227 496.48868098 277.65483853 496.49661007 268.48936701 496.50166678 C262.76409053 496.50492515 257.03882077 496.51144851 251.31354809 496.51866817 C235.45537629 496.53823355 219.59721072 496.5546379 203.73902607 496.55754471 C202.72439727 496.55773228 201.70976847 496.55791985 200.66439334 496.5581131 C198.607572 496.55847935 196.55075066 496.55884305 194.49392931 496.55920421 C193.47294793 496.55938702 192.45196656 496.55956984 191.40004635 496.55975819 C189.86670023 496.56002901 189.86670023 496.56002901 188.30237742 496.5603053 C171.74356645 496.56384593 155.18488562 496.59086161 138.62611978 496.62825608 C121.61691826 496.66635966 104.60778127 496.68570234 87.59853613 496.68600422 C78.05193442 496.68658836 68.50548791 496.69505213 58.9589262 496.72400188 C50.82878548 496.74854329 42.69885656 496.75578011 34.56868879 496.74075436 C30.42330999 496.7335965 26.27834919 496.73439393 22.13301754 496.75716496 C18.33161229 496.77784593 14.53094397 496.77507075 10.72954591 496.75429011 C8.71657536 496.74917591 6.70358744 496.76850464 4.69071424 496.78895181 C-7.66480912 496.6754978 -17.85567564 492.71970266 -26.83384037 484.13422108 C-34.62173861 475.61457401 -37.95423734 466.30360495 -37.96526814 454.86268044 C-37.96732077 454.13728324 -37.9693734 453.41188605 -37.97148824 452.66450712 C-37.97715546 450.22688924 -37.97570133 447.78932791 -37.97428226 445.3517046 C-37.97686606 443.58910103 -37.97987926 441.82649805 -37.98328567 440.06389588 C-37.99135723 435.21462224 -37.99314533 430.3653634 -37.99388313 425.51608384 C-37.99573341 420.28825205 -38.00328061 415.06042794 -38.01001835 409.83260059 C-38.02360323 398.39870664 -38.02962661 386.96481618 -38.03402901 375.5309155 C-38.03679112 368.3923833 -38.04102841 361.25385245 -38.04553318 354.11532116 C-38.05772596 334.35317317 -38.06802531 314.59102626 -38.07140827 294.82887459 C-38.07162784 293.5639282 -38.0718474 292.29898181 -38.07207362 290.99570371 C-38.0722919 289.72772106 -38.07251018 288.45973842 -38.07273507 287.15333205 C-38.07317854 284.58389207 -38.0736251 282.01445208 -38.07407475 279.44501209 C-38.07429617 278.17047958 -38.0745176 276.89594707 -38.07474574 275.58279236 C-38.07869403 254.92929756 -38.09614897 234.27583804 -38.11943427 213.62235687 C-38.14314461 192.42085622 -38.15560998 171.21937328 -38.15677619 150.01785916 C-38.15769312 138.11273667 -38.16344997 126.20766015 -38.1815958 114.30255032 C-38.19699247 104.16534938 -38.20211979 94.02820862 -38.1938577 83.89099822 C-38.18994971 78.71917375 -38.19088819 73.54747047 -38.20491505 68.3756609 C-38.21764473 63.63880038 -38.21646456 58.90215223 -38.20432433 54.16529205 C-38.20236574 52.45396736 -38.2054533 50.74262768 -38.2141687 49.03132407 C-38.28151943 34.90982696 -36.71455667 22.7546981 -26.79477787 11.90375233 C-19.11301622 4.66986724 -10.63206942 0.01832872 0 0 Z M-17.31821537 27.93890858 C-20.68290263 32.81250198 -21.08473104 37.67036294 -21.09110928 43.46913338 C-21.09461535 44.18923052 -21.09812142 44.90932766 -21.10173374 45.65124592 C-21.11103968 48.0648631 -21.10612655 50.47823857 -21.10126591 52.89186573 C-21.10500257 54.63954718 -21.10960416 56.38722696 -21.11499655 58.13490409 C-21.12723991 62.93825891 -21.12696451 67.74154416 -21.1246078 72.54491103 C-21.12419997 77.72499614 -21.1352355 82.90505885 -21.14472294 88.08513355 C-21.16134108 98.23409719 -21.16683285 108.38303759 -21.16794769 118.53201369 C-21.16889775 126.78074874 -21.17300593 135.02947611 -21.17934895 143.27820873 C-21.19696333 166.66028481 -21.20618747 190.04234252 -21.204688 213.42442528 C-21.20460809 214.68515448 -21.20452817 215.94588367 -21.20444584 217.24481678 C-21.20436408 218.50708364 -21.20428232 219.7693505 -21.20419808 221.06986787 C-21.20338505 241.5299942 -21.2225264 261.99004692 -21.25072257 282.45015196 C-21.27943981 303.45393111 -21.29326352 324.45767436 -21.29153502 345.46147364 C-21.29087073 357.25533765 -21.29638005 369.04912451 -21.31789112 380.84297085 C-21.33608759 390.88394128 -21.34046282 400.92479957 -21.32687227 410.96577934 C-21.320335 416.08891364 -21.32025294 421.21183271 -21.33757877 426.33494663 C-21.35328074 431.02613225 -21.35047523 435.71693146 -21.33301051 440.40810748 C-21.32993429 442.10390648 -21.3335964 443.79973411 -21.34473066 445.49549935 C-21.40462861 455.26626112 -21.09904672 463.26831957 -15.15805912 471.43890858 C-8.05268159 478.2560011 -0.86837617 480.25580597 8.97056961 480.26285553 C10.11255257 480.26607998 11.25453553 480.26930442 12.43112403 480.27262658 C13.67595705 480.27107798 14.92079007 480.26952937 16.2033453 480.26793385 C17.54679496 480.26980301 18.89024409 480.27210413 20.23369235 480.27479917 C23.91968003 480.28091053 27.605645 480.28078436 31.29163659 480.27960479 C35.26924909 480.27940062 39.24685434 480.28492114 43.22446346 480.28966236 C51.01520482 480.29796582 58.80593861 480.30071706 66.59668402 480.30127474 C72.92989398 480.30175004 79.26310144 480.30380549 85.59631062 480.30697536 C103.55530628 480.31578108 121.51429598 480.32039487 139.47329382 480.31964489 C140.44129745 480.31960493 141.40930107 480.31956498 142.40663815 480.31952381 C143.37582476 480.31948293 144.34501137 480.31944205 145.34356727 480.31939993 C161.05077533 480.31899348 176.75795941 480.3285631 192.46516053 480.34266218 C208.59632266 480.35702746 224.72747311 480.36393228 240.8586418 480.3630684 C249.91380811 480.36273649 258.96894929 480.36548118 268.02410984 480.37624645 C275.73377717 480.38535345 283.44340797 480.38752506 291.15307835 480.38073703 C295.08530301 480.37747285 299.01745758 480.37741147 302.94967556 480.38609028 C306.5527234 480.39396067 310.15564565 480.39251837 313.75869044 480.38380615 C315.67245239 480.38154839 317.58621825 480.38909558 319.49996501 480.39704579 C329.8033722 480.35583601 338.36127201 479.8656291 346.01772213 472.30609608 C351.69183236 466.18833114 353.41493224 461.22749023 353.42063522 452.79651546 C353.4238417 452.07611873 353.42704818 451.35572199 353.43035182 450.61349505 C353.43865504 448.19886455 353.43272645 445.78448188 353.42685604 443.3698473 C353.42987658 441.62145349 353.43376557 439.87306101 353.43844861 438.12467086 C353.44874996 433.31938185 353.44654134 428.51416726 353.44226801 423.70887208 C353.43980467 418.52676379 353.44881009 413.3446736 353.4563055 408.16257191 C353.46906545 398.00993027 353.47084458 387.85731506 353.46850524 377.70466675 C353.46672336 369.4535398 353.46846893 361.20242089 353.47272968 352.9512949 C353.47362247 351.19084923 353.47362247 351.19084923 353.47453329 349.39483901 C353.47574502 347.01072606 353.47695915 344.62661312 353.47817566 342.24250017 C353.48905621 319.87594463 353.48688628 297.50940416 353.48079082 275.14284776 C353.47562128 254.67559197 353.48687718 234.20838377 353.50588904 213.7411374 C353.5252551 192.73171376 353.53352559 171.72231264 353.52976578 150.71288002 C353.52785186 138.91515117 353.53035992 127.11746283 353.54448032 115.31974125 C353.5563794 105.27619312 353.55781557 95.23271044 353.54569016 85.18916143 C353.53979111 80.06416174 353.53873038 74.93928184 353.55069256 69.81429005 C353.56151619 65.12259503 353.55849 60.43112033 353.54443087 55.73943578 C353.54177423 54.04231051 353.54418074 52.34516818 353.55216674 50.64805962 C353.80487214 37.46465019 353.80487214 37.46465019 348.36928463 25.70843983 C340.81445163 18.41047115 333.94313744 16.01316814 323.36174965 16.00558662 C322.21976669 16.00236218 321.07778373 15.99913773 319.90119523 15.99581558 C318.65636221 15.99736418 317.41152919 15.99891278 316.12897396 16.00050831 C314.7855243 15.99863914 313.44207517 15.99633802 312.09862691 15.99364299 C308.41263923 15.98753162 304.72667426 15.9876578 301.04068267 15.98883736 C297.06307016 15.98904153 293.08546492 15.98352102 289.1078558 15.97877979 C281.31711444 15.97047634 273.52638065 15.96772509 265.73563524 15.96716741 C259.40242528 15.96669211 253.06921782 15.96463666 246.73600864 15.96146679 C228.77701298 15.95266108 210.81802328 15.94804729 192.85902544 15.94879726 C191.89102181 15.94883722 190.92301819 15.94887718 189.92568111 15.94891834 C188.4719012 15.94897966 188.4719012 15.94897966 186.98875199 15.94904222 C171.28154393 15.94944868 155.57435985 15.93987905 139.86715873 15.92577998 C123.7359966 15.91141469 107.60484615 15.90450988 91.47367746 15.90537375 C82.41851115 15.90570567 73.36336997 15.90296097 64.30820942 15.8921957 C56.59854209 15.88308871 48.88891129 15.8809171 41.1792409 15.88770512 C37.24701625 15.89096931 33.31486168 15.89103068 29.3826437 15.88235188 C25.77959586 15.87448148 22.17667361 15.87592378 18.57362882 15.88463601 C16.65986687 15.88689376 14.74610101 15.87934657 12.83235425 15.87139636 C-0.38247289 15.92425074 -8.28979389 17.89377296 -17.31821537 27.93890858 Z " fill="#000000" transform="translate(89.83384037017822,7.865778923034668)"/>
        <path d="M0 0 C0.93895805 -0.00453111 1.87791611 -0.00906223 2.84532744 -0.01373065 C6.00521583 -0.02643467 9.16493319 -0.02475042 12.32484436 -0.02310181 C14.5847801 -0.02908326 16.84471379 -0.03588792 19.10464478 -0.04345703 C25.25331082 -0.06116204 31.40192124 -0.06581427 37.5506103 -0.0670886 C42.677622 -0.06898472 47.80462065 -0.07633884 52.93162733 -0.08343279 C64.33247279 -0.09879946 75.7332837 -0.10476917 87.13413601 -0.10342209 C87.81839789 -0.10334218 88.50265977 -0.10326227 89.20765686 -0.10317993 C89.89275251 -0.10309817 90.57784816 -0.10301641 91.28370429 -0.10293217 C102.390362 -0.10211901 113.49688418 -0.12126356 124.60350268 -0.14945666 C136.00319613 -0.1781658 147.40280285 -0.19163156 158.80254084 -0.19026911 C165.20448115 -0.18975821 171.6062681 -0.19551222 178.0081768 -0.21662521 C184.02707501 -0.23593245 190.04567235 -0.2361836 196.06458092 -0.22159195 C198.27694892 -0.21949347 200.4893354 -0.22426607 202.7016716 -0.23631287 C205.71545368 -0.25166429 208.7281852 -0.24252409 211.74194336 -0.22705078 C212.62316374 -0.23733791 213.50438413 -0.24762503 214.41230816 -0.25822389 C220.31007146 -0.1910301 220.31007146 -0.1910301 223.45040226 2.11473656 C225.39326765 4.93293893 225.86463026 6.84559686 225.9344635 10.26742554 C224.33034502 13.7964862 223.19286989 15.09515461 219.9344635 17.26742554 C216.90985758 17.46613583 213.97696963 17.54556007 210.95158386 17.53485107 C209.55645579 17.54164774 209.55645579 17.54164774 208.13314331 17.54858172 C205.00322749 17.56128531 201.87348435 17.55960151 198.74354553 17.55795288 C196.50493647 17.5639344 194.26632948 17.57073907 192.02772522 17.57830811 C185.93684133 17.59601343 179.84601358 17.60066539 173.75510645 17.60193968 C168.6754102 17.60383597 163.59572711 17.61119038 158.51603591 17.61828387 C147.21912273 17.63365097 135.92223614 17.63962024 124.62531568 17.63827316 C123.94729052 17.63819325 123.26926535 17.63811334 122.57069397 17.63803101 C121.5524158 17.63790836 121.5524158 17.63790836 120.51356636 17.63778324 C109.51104806 17.63697029 98.50866664 17.65610938 87.50618793 17.68430774 C76.21158797 17.71302658 64.91705275 17.72648219 53.62240875 17.72512019 C47.2802397 17.7246095 40.93822551 17.73035159 34.59608841 17.75147629 C28.63217822 17.77079797 22.66857158 17.77102466 16.70465088 17.75644302 C14.51366611 17.75434629 12.32266265 17.75910695 10.13171005 17.77116394 C7.14455007 17.78653991 4.15844673 17.77735866 1.17131042 17.76190186 C0.30078478 17.77218898 -0.56974087 17.78247611 -1.46664608 17.79307497 C-5.47168051 17.74716224 -7.57998668 17.5589049 -11.08424568 15.45527077 C-13.8025565 12.4535694 -13.99414527 10.26533424 -14.0655365 6.26742554 C-11.83815687 -0.60032833 -6.19448552 -0.02171663 0 0 Z " fill="#000000" transform="translate(151.06553649902344,293.7325744628906)"/>
        <path d="M0 0 C0.93008538 -0.00453111 1.86017077 -0.00906223 2.81844056 -0.01373065 C5.94835637 -0.02643423 9.07809952 -0.02475044 12.20803833 -0.02310181 C14.44664739 -0.02908333 16.68525439 -0.035888 18.92385864 -0.04345703 C25.01474254 -0.06116235 31.10557028 -0.06581431 37.19647741 -0.0670886 C42.27617366 -0.06898489 47.35585675 -0.0763393 52.43554795 -0.08343279 C63.73246113 -0.0987999 75.02934772 -0.10476917 86.32626818 -0.10342209 C87.00429335 -0.10334218 87.68231851 -0.10326227 88.38088989 -0.10317993 C89.39916806 -0.10305729 89.39916806 -0.10305729 90.4380175 -0.10293217 C101.44053581 -0.10211922 112.44291722 -0.12125831 123.44539593 -0.14945666 C134.7399959 -0.17817551 146.03453111 -0.19163112 157.32917511 -0.19026911 C163.67134416 -0.18975843 170.01335835 -0.19550052 176.35549545 -0.21662521 C182.31940564 -0.23594689 188.28301228 -0.23617358 194.24693298 -0.22159195 C196.43791775 -0.21949521 198.62892121 -0.22425587 200.81987381 -0.23631287 C203.8070338 -0.25168884 206.79313713 -0.24250759 209.78027344 -0.22705078 C210.65079908 -0.23733791 211.52132473 -0.24762503 212.41822994 -0.25822389 C216.42326438 -0.21231116 218.53157054 -0.02405382 222.03582954 2.07958031 C224.75414036 5.08128167 224.94572913 7.26951683 225.01712036 11.26742554 C223.91504028 14.6655058 223.0961416 15.21474471 220.01712036 17.26742554 C216.96524189 17.4662003 214.00425425 17.54555313 210.95158386 17.53485107 C210.01262581 17.53938219 209.07366775 17.5439133 208.10625643 17.54858172 C204.94636804 17.56128574 201.78665067 17.55960149 198.6267395 17.55795288 C196.36680376 17.56393434 194.10687007 17.57073899 191.84693909 17.57830811 C185.69827304 17.59601311 179.54966262 17.60066535 173.40097356 17.60193968 C168.27396186 17.60383579 163.14696322 17.61118992 158.01995653 17.61828387 C146.61911108 17.63365053 135.21830016 17.63962025 123.81744785 17.63827316 C123.13318597 17.63819325 122.44892409 17.63811334 121.743927 17.63803101 C121.05883135 17.63794924 120.3737357 17.63786748 119.66787957 17.63778324 C108.56122186 17.63697008 97.45469968 17.65611464 86.34808118 17.68430774 C74.94838773 17.71301687 63.54878102 17.72648263 52.14904302 17.72512019 C45.74710271 17.72460928 39.34531576 17.73036329 32.94340706 17.75147629 C26.92450885 17.77078353 20.90591151 17.77103467 14.88700294 17.75644302 C12.67463494 17.75434455 10.46224847 17.75911714 8.24991226 17.77116394 C5.23613018 17.78651536 2.22339866 17.77737517 -0.7903595 17.76190186 C-2.11219007 17.77733254 -2.11219007 17.77733254 -3.46072429 17.79307497 C-9.35848759 17.72588117 -9.35848759 17.72588117 -12.4988184 15.42011452 C-14.44168379 12.60191214 -14.9130464 10.68925422 -14.98287964 7.26742554 C-11.71174063 0.07091971 -7.22532971 -0.0255756 0 0 Z " fill="#000000" transform="translate(151.98287963867188,200.73257446289063)"/>
        <path d="M0 0 C0.91475446 -0.00382555 1.82950892 -0.00765109 2.77198321 -0.01159257 C5.83808322 -0.02191381 8.90399566 -0.01793206 11.97010803 -0.01396179 C14.16798069 -0.01830873 16.36585182 -0.02349182 18.5637207 -0.02944946 C24.53472848 -0.04285223 30.50567302 -0.04341673 36.47669291 -0.04088616 C41.45946659 -0.03981738 46.44222742 -0.04469742 51.42499834 -0.04949158 C63.85086926 -0.06122588 76.27671198 -0.06035914 88.70258392 -0.05393478 C99.49088135 -0.04876532 110.2790885 -0.06002204 121.06736808 -0.07903299 C132.14846324 -0.09841005 143.22952168 -0.1063762 154.31063467 -0.10290974 C160.53037356 -0.10109506 166.75002974 -0.10375162 172.96975517 -0.11762428 C178.8179292 -0.13017992 184.66592222 -0.12827989 190.5140934 -0.11521339 C192.6611169 -0.11284318 194.80815305 -0.11559816 196.95516205 -0.12383652 C199.88478863 -0.13426781 202.8138038 -0.12623221 205.7434082 -0.11352539 C206.59409297 -0.12089968 207.44477775 -0.12827396 208.32124084 -0.13587171 C213.26735252 -0.09070328 216.63408793 0.54875627 220.93519592 3.26069641 C223.12388738 5.92519036 222.93307438 7.32116043 222.81019592 10.82319641 C221.93519592 14.26069641 221.93519592 14.26069641 220.45462036 15.95131016 C216.62011177 17.94416724 213.01092159 17.67746312 208.74940491 17.64837646 C207.80959243 17.653762 206.86977995 17.65914754 205.9014883 17.66469628 C202.74462318 17.67903182 199.58817406 17.6718583 196.43128967 17.66474915 C194.17120526 17.67044974 191.91112372 17.67741278 189.65104675 17.68554688 C183.50654156 17.7035266 177.3621788 17.70230097 171.21765518 17.69660449 C166.09307413 17.69351994 160.96852072 17.69959682 155.8439436 17.70564324 C143.06666977 17.72050671 130.28949698 17.71686158 117.51222932 17.70477993 C106.41209585 17.69484479 95.312129 17.70779215 84.21202123 17.73171412 C72.81680823 17.75608727 61.42169487 17.76531746 50.02644825 17.7590614 C43.62788566 17.75568396 37.22946079 17.75815916 30.83091736 17.77531242 C24.81609592 17.7907326 18.80159373 17.78688074 12.78678513 17.76800728 C10.57603391 17.76430789 8.3652593 17.76746886 6.15452957 17.77789307 C3.142976 17.7910121 0.13249355 17.77963611 -2.87901306 17.76190186 C-4.19982046 17.77630937 -4.19982046 17.77630937 -5.54731083 17.79100794 C-11.44044302 17.71931033 -11.44044302 17.71931033 -14.58032227 15.41296482 C-16.52391109 12.59506244 -16.99496826 10.68265153 -17.06480408 7.26069641 C-15.82526244 4.23070574 -14.89959047 2.71839638 -12.01416683 1.13636494 C-7.96802714 -0.06493767 -4.19953702 -0.01860842 0 0 Z " fill="#000000" transform="translate(154.06480407714844,385.7393035888672)"/>
        <path d="M0 0 C0.93981248 -0.0055344 1.87962496 -0.01106879 2.8479166 -0.0167709 C6.00491647 -0.03041118 9.16113038 -0.0153896 12.31811523 -0.00050354 C14.57819963 -0.00428548 16.83828172 -0.00978448 19.09835815 -0.01687622 C25.24292014 -0.03086433 31.38720317 -0.01963735 37.53174973 -0.00316501 C43.9547626 0.01066124 50.37775888 0.00422818 56.80078125 0.0007019 C67.58819156 -0.00200214 78.37546413 0.01140471 89.1628418 0.03465271 C100.26379522 0.05857384 111.3646016 0.06565714 122.46557617 0.05516052 C135.83994824 0.04253695 149.21421624 0.0450394 162.58859253 0.06081963 C167.69857369 0.06658603 172.80850565 0.0664916 177.91848755 0.06175423 C183.9332793 0.05699041 189.94786689 0.06706158 195.96261978 0.08870888 C198.17336463 0.09428502 200.38412906 0.09473451 202.59487534 0.08975601 C205.60628463 0.08382374 208.6170654 0.09626902 211.62841797 0.11352539 C212.50895623 0.10751535 213.3894945 0.1015053 214.29671574 0.09531313 C217.8107717 0.13207924 220.1812264 0.17074022 223.32972717 1.81449795 C225.73259527 4.54470023 225.75285696 6.94278813 225.81420898 10.50120544 C224.58298679 13.57926094 223.6811053 15.02755146 220.76357174 16.62163067 C216.71732512 17.82832403 212.95037771 17.78051664 208.74940491 17.76190186 C207.37727322 17.76764018 207.37727322 17.76764018 205.9774217 17.77349442 C202.91132169 17.78381567 199.84540925 17.77983391 196.77929688 17.77586365 C194.58142422 17.78021059 192.38355308 17.78539367 190.1856842 17.79135132 C184.21467642 17.80475409 178.24373189 17.80531859 172.27271199 17.80278802 C167.28993832 17.80171923 162.30717749 17.80659928 157.32440656 17.81139344 C144.89853565 17.82312773 132.47269293 17.822261 120.04682099 17.81583663 C109.25852355 17.81066717 98.4703164 17.8219239 87.68203682 17.84093485 C76.60094167 17.86031191 65.51988323 17.86827805 54.43877023 17.8648116 C48.21903135 17.86299692 41.99937516 17.86565348 35.77964973 17.87952614 C29.93147571 17.89208177 24.08348268 17.89018174 18.23531151 17.87711525 C16.08828801 17.87474503 13.94125186 17.87750002 11.79424286 17.88573837 C8.86461628 17.89616967 5.93560111 17.88813406 3.0059967 17.87542725 C1.72996955 17.88648867 1.72996955 17.88648867 0.42816406 17.89777356 C-4.51650335 17.85261833 -7.88836329 17.21749883 -12.18579102 14.50120544 C-14.18806546 11.97659853 -14.19577167 10.74074113 -14.06079102 7.50120544 C-11.82732182 -0.15640322 -6.96686294 -0.07599529 0 0 Z " fill="#000000" transform="translate(151.185791015625,108.49879455566406)"/>
        </svg> 
      {{ settings.note_tab_title }}
    </button>
    {% endif %}
    {% if settings.show_promo_code %}
    <button class="onglet" id="tab-promo" role="tab" aria-controls="promo" aria-selected="false">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 512 512" style="margin-right: 5px;">
          <path d="M0 0 C1.9544947 -0.00514765 3.90898475 -0.01243526 5.86346436 -0.02168274 C11.13616939 -0.04009473 16.40836453 -0.0273238 21.68104792 -0.00759244 C27.2172107 0.00887533 32.75334324 -0.00002988 38.28952026 -0.00511169 C47.58144207 -0.00962283 56.87316193 0.00617828 66.16503906 0.03417969 C76.88804288 0.06624589 87.610683 0.06620523 98.3337127 0.04896492 C108.67768965 0.03307084 119.02153402 0.03985073 129.36550522 0.05690193 C133.75520255 0.06375132 138.14479293 0.06276178 142.53448868 0.05535698 C147.70738495 0.04766429 152.87986995 0.05991747 158.05269623 0.08720589 C159.94444178 0.09405884 161.83622598 0.09422109 163.72797012 0.08699036 C173.61126833 0.05358226 182.29268665 0.10665994 191.33935547 4.63110352 C192.22925737 5.07586753 193.11915928 5.52063154 194.03602791 5.97887325 C205.94387397 12.24205685 212.73009047 22.77224166 216.89809608 35.31213474 C217.5494995 38.73548216 217.49097481 42.14564021 217.49325562 45.61741638 C217.49763787 46.4283722 217.50202012 47.23932801 217.50653517 48.07485825 C217.51990407 50.79600162 217.52609784 53.51711262 217.53222656 56.23828125 C217.54012926 58.1881983 217.54839832 60.13811389 217.55700684 62.08802795 C217.58321542 68.49690354 217.59853692 74.90578561 217.61279297 81.31469727 C217.61815381 83.52340257 217.62353132 85.73210784 217.62892532 87.94081306 C217.65055554 97.13265511 217.66928978 106.32449541 217.68054771 115.51635647 C217.69676969 128.67358207 217.72990353 141.83051155 217.78694856 154.98762554 C217.82571705 164.24643147 217.8451888 173.50515845 217.85046828 182.76404339 C217.85411327 188.28939338 217.86604342 193.81442744 217.89857101 199.33968925 C217.92877181 204.54446767 217.93492068 209.74874101 217.92318726 214.95358849 C217.9229675 216.85580585 217.93119061 218.75804747 217.94884109 220.66018295 C218.14454481 242.97981593 210.2720875 255.17257453 195.00879788 271.05641294 C192.53786218 273.5658504 190.05294015 276.06045625 187.56143188 278.54946899 C186.60847011 279.50502248 185.65572043 280.46078752 184.7031616 281.41674268 C182.11319014 284.01469176 179.52017517 286.60958343 176.92658377 289.20391798 C174.11902165 292.01334678 171.3143071 294.82561618 168.50917053 297.63746643 C162.39001516 303.77013605 156.26714527 309.89908786 150.14343691 316.02721071 C146.31500644 319.8584133 142.48730996 323.69034864 138.65974045 327.52241135 C128.04631372 338.14801783 117.4319498 348.77268612 106.81412697 359.39389992 C106.13619204 360.07205441 105.45825711 360.75020891 104.7597787 361.44891354 C104.08030867 362.12860185 103.40083864 362.80829016 102.7007786 363.50857508 C101.32411778 364.88567936 99.94745851 366.2627852 98.57080078 367.63989258 C97.8879437 368.32297109 97.20508661 369.00604961 96.50153689 369.70982747 C85.43013329 380.78518155 74.36550461 391.8672777 63.3037674 402.95228548 C51.92646008 414.35333268 40.54350958 425.74872022 29.15490854 437.13848627 C22.76876969 443.52553997 16.38504754 449.91496744 10.00755692 456.3106575 C4.57971446 461.75393602 -0.85328571 467.19200061 -6.29296993 472.62344624 C-9.06472002 475.39130331 -11.83404194 478.16147546 -14.59678841 480.93832207 C-17.13177746 483.48612981 -19.67375053 486.02675638 -22.22118039 488.56212334 C-23.56469534 489.90278313 -24.90089829 491.25075858 -26.23671949 492.5990845 C-39.46260121 505.71880928 -51.28703716 512.93078154 -69.88085938 512.94580078 C-86.03339579 512.69983046 -96.81950164 504.95623227 -107.88409424 493.79533386 C-108.64794583 493.03686781 -109.41179742 492.27840175 -110.19879603 491.49695188 C-112.73129567 488.97864698 -115.25306627 486.44987827 -117.77490234 483.92089844 C-119.59851998 482.10298868 -121.42276572 480.28570882 -123.24758911 478.4690094 C-127.67299136 474.06072871 -132.09025742 469.64438318 -136.50447753 465.22490808 C-140.09438312 461.63094805 -143.68704112 458.0397614 -147.2816391 454.45049477 C-147.79476905 453.93811323 -148.30789901 453.4257317 -148.83657835 452.89782346 C-149.87924726 451.85668614 -150.92191955 450.8155522 -151.96459517 449.77442161 C-161.72276341 440.02995371 -171.47136327 430.27595765 -181.2169362 420.51889537 C-190.12015022 411.60574582 -199.03475697 402.70409282 -207.95488873 393.80787703 C-217.13181139 384.65537231 -226.30128826 375.4954701 -235.46268725 366.32742578 C-240.59918067 361.18744687 -245.73846756 356.05034127 -250.88547516 350.9208889 C-255.72447414 346.09819155 -260.55282012 341.26504241 -265.37426376 336.42479515 C-267.14207629 334.65330078 -268.91328336 332.88518623 -270.68816757 331.12077713 C-273.11655237 328.70562997 -275.53219056 326.27838959 -277.94512939 323.8478241 C-278.64454753 323.15801097 -279.34396567 322.46819784 -280.06457829 321.75748128 C-291.20558217 310.44921019 -295.19895487 298.7794692 -295.15283203 283.17553711 C-294.52482219 262.18823309 -278.83901874 248.65505707 -264.88272095 234.71273804 C-263.92975918 233.75718455 -262.9770095 232.80141951 -262.02445066 231.84546435 C-259.4344792 229.24751527 -256.84146423 226.6526236 -254.24787283 224.05828905 C-251.44031072 221.24886025 -248.63559616 218.43659085 -245.83045959 215.6247406 C-239.71130422 209.49207098 -233.58843433 203.36311917 -227.46472597 197.23499632 C-223.6362955 193.40379373 -219.80859903 189.57185839 -215.98102951 185.73979568 C-205.36760278 175.11418921 -194.75323886 164.48952091 -184.13541603 153.86830711 C-183.4574811 153.19015262 -182.77954617 152.51199812 -182.08106776 151.81329349 C-181.40159773 151.13360518 -180.7221277 150.45391687 -180.02206767 149.75363195 C-178.64540684 148.37652767 -177.26874757 146.99942183 -175.89208984 145.62231445 C-174.86780422 144.59769668 -174.86780422 144.59769668 -173.82282595 143.55237956 C-162.75142235 132.47702548 -151.68679367 121.39492933 -140.62505646 110.30992155 C-129.24774914 98.90887435 -117.86479864 87.51348681 -106.4761976 76.12372077 C-100.09005876 69.73666706 -93.7063366 63.34723959 -87.32884598 56.95154953 C-81.90100352 51.50827101 -76.46800336 46.07020642 -71.02831914 40.63876079 C-68.25656905 37.87090372 -65.48724713 35.10073157 -62.72450066 32.32388496 C-60.18951161 29.77607722 -57.64753854 27.23545065 -55.10010867 24.70008369 C-53.75659373 23.3594239 -52.42039078 22.01144845 -51.08456957 20.66312253 C-35.38814247 5.09268208 -21.66078661 -0.14594053 0 0 Z M-28.95469666 43.19017029 C-29.96209337 44.19351382 -30.97080354 45.19554 -31.98070246 46.19636494 C-34.74067926 48.93910318 -37.48168797 51.70013049 -40.21986353 54.4646107 C-43.18029697 57.44689059 -46.15806532 60.41177467 -49.13369751 63.37887573 C-54.95489838 69.1888227 -60.76004476 75.01455994 -66.55997669 80.84573083 C-73.31383389 87.63468885 -80.08380692 94.40748001 -86.85457761 101.17956293 C-98.93206772 113.26042743 -110.99537897 125.35535051 -123.05053711 137.45849609 C-134.75187896 149.20638315 -146.46230087 160.94511386 -158.18334961 172.67333984 C-159.26686652 173.75752506 -159.26686652 173.75752506 -160.37227266 174.863613 C-161.82743359 176.31965913 -163.2825951 177.77570468 -164.73775718 179.23174966 C-165.45555241 179.94998402 -166.17334765 180.66821839 -166.91289425 181.40821743 C-167.62886613 182.12462128 -168.344838 182.84102513 -169.082506 183.57913819 C-180.24966825 194.75369877 -191.40916514 205.93591242 -202.56760145 217.11918543 C-206.61362348 221.1740806 -210.66064378 225.22797633 -214.70835602 229.28118425 C-221.12625165 235.70793882 -227.54079042 242.13800477 -233.94851982 248.57489686 C-236.87693602 251.51653791 -239.80688319 254.45660784 -242.74113274 257.39243126 C-245.42525045 260.07812036 -248.1047086 262.7683674 -250.78045685 265.46239436 C-252.21178313 266.90113207 -253.64800453 268.33499472 -255.08437389 269.76869768 C-256.35171929 271.04756651 -256.35171929 271.04756651 -257.64466763 272.35227108 C-258.37720585 273.0873023 -259.10974408 273.82233353 -259.86448044 274.57963842 C-263.09061129 278.26432116 -263.96750209 281.14073325 -264.03564453 286.00610352 C-264.06400391 286.92133789 -264.09236328 287.83657227 -264.12158203 288.77954102 C-263.01155156 295.64667866 -257.05001374 300.53446448 -252.33076477 305.24186707 C-251.59049063 305.98808345 -250.8502165 306.73429983 -250.08750981 307.50312883 C-247.61053538 309.99741959 -245.12648572 312.48453848 -242.64233398 314.97167969 C-240.86287999 316.76039387 -239.08382181 318.54950189 -237.30513 320.338974 C-232.47530679 325.19500662 -227.63889181 330.04441578 -222.80035806 334.89176726 C-219.77732201 337.92033823 -216.75575982 340.95037673 -213.73445702 343.98067665 C-205.3628237 352.37668159 -196.98930915 360.77080022 -188.6088686 369.15801525 C-188.07316789 369.69415509 -187.53746719 370.23029493 -186.98553313 370.78268142 C-186.44858413 371.32006698 -185.91163513 371.85745253 -185.35841495 372.4111225 C-184.27043434 373.49999003 -183.18245684 374.58886066 -182.09448242 375.67773438 C-181.55481333 376.21784632 -181.01514424 376.75795827 -180.45912155 377.31443725 C-171.71172701 386.0697307 -162.97792775 394.83845307 -154.2498934 403.61304244 C-145.28079043 412.62959798 -136.30045299 421.63483558 -127.30875748 430.6288622 C-122.26363876 435.67581257 -117.22344186 440.72746767 -112.19561195 445.79164696 C-107.46758408 450.55373732 -102.72437903 455.30016839 -97.97050285 460.03647804 C-96.22906763 461.77637093 -94.4927466 463.52140002 -92.76198578 465.27191162 C-90.39678539 467.66251026 -88.01377321 470.03383264 -85.6254425 472.40129089 C-84.94623397 473.09661224 -84.26702543 473.79193359 -83.56723481 474.50832528 C-79.11272288 478.87243637 -74.88040271 481.54115688 -68.66064453 482.63110352 C-57.88443587 482.51607991 -49.68008466 470.7962752 -42.71463013 463.81880188 C-41.73178154 462.83782498 -40.74871792 461.85706348 -39.7654599 460.87649697 C-37.08298207 458.20009845 -34.40359689 455.52062299 -31.72474909 452.84059179 C-28.82816971 449.94380745 -25.92872602 447.04989234 -23.02967834 444.15557861 C-17.35961328 438.49379739 -11.69230778 432.82926179 -6.02610393 427.16361658 C-1.42223709 422.56022559 3.18242008 417.95762665 7.78763199 413.35558128 C20.84751719 400.30449337 33.90531324 387.2513204 46.96042512 374.19545767 C47.6632944 373.49254844 48.36616368 372.7896392 49.09033203 372.06542969 C49.7940591 371.36166174 50.49778617 370.65789379 51.2228383 369.93279954 C62.64648702 358.50874372 74.07512505 347.08969363 85.50601564 335.67288444 C97.24636123 323.9468875 108.98298973 312.2171815 120.71573079 300.48357552 C127.30178948 293.89718453 133.88938672 287.31234934 140.48098373 280.73150063 C146.08801985 275.13354921 151.69160707 269.532174 157.29069881 263.92627613 C160.14815791 261.06554267 163.00722287 258.2064633 165.87063789 255.35169029 C168.48999553 252.74015726 171.10472276 250.12408065 173.71578731 247.50425675 C175.11233487 246.10543223 176.51382309 244.71154576 177.91546142 243.31782228 C178.74007468 242.48861022 179.56468794 241.65939817 180.41428947 240.80505848 C181.1291432 240.09042212 181.84399692 239.37578577 182.58051288 238.63949376 C187.54994701 232.96498764 187.46323105 226.43000971 187.47979736 219.17460632 C187.48276849 218.44487399 187.48573961 217.71514166 187.48880076 216.96329623 C187.49744072 214.52922997 187.498992 212.09521317 187.50048828 209.66113281 C187.50511973 207.91132503 187.51014483 206.16151826 187.51553345 204.41171265 C187.52862655 199.66574761 187.53509617 194.91979671 187.53954411 190.17381644 C187.54247936 187.20644489 187.54658498 184.23907716 187.55104828 181.27170753 C187.56471404 171.98068977 187.57438564 162.6896808 187.57825017 153.39865369 C187.58273111 142.68576228 187.60028456 131.97299846 187.62925076 121.26014584 C187.65088493 112.97035356 187.66095535 104.68059714 187.66229129 96.39077693 C187.66333792 91.44358554 187.6692157 86.49651423 187.6871109 81.54935265 C187.70362194 76.89456165 187.70573238 72.23998064 187.69697189 67.58517075 C187.69620319 65.88124211 187.7005222 64.17730203 187.71043015 62.47340202 C187.97388222 48.36500292 187.97388222 48.36500292 182.21435547 35.75610352 C173.49253608 29.30954136 163.24244595 30.20286061 152.93701172 30.24291992 C151.1769071 30.23884996 149.41680503 30.2335057 147.65670776 30.22698975 C142.89639344 30.21336087 138.13627506 30.21859646 133.37595749 30.228127 C128.38336426 30.2357466 123.39078728 30.22867161 118.39819336 30.22396851 C110.01559451 30.21851765 101.63307507 30.22568499 93.25048828 30.23999023 C83.5727645 30.25631544 73.89523036 30.25102646 64.21751118 30.23451102 C55.89367461 30.22087707 47.56989497 30.21898582 39.24605083 30.22682703 C34.2810372 30.23149305 29.31611258 30.23215791 24.35110474 30.22221756 C19.68229463 30.21352237 15.01372794 30.2196163 10.344944 30.23690033 C8.63618498 30.24085156 6.92740531 30.2397546 5.21865463 30.23311234 C2.87702414 30.22485232 0.53616227 30.23527094 -1.80541992 30.25015259 C-3.11281631 30.25128366 -4.42021271 30.25241474 -5.76722717 30.25358009 C-16.34476065 31.27922576 -21.59865563 35.70500428 -28.95469666 43.19017029 Z " fill="#000000" transform="translate(294.66064453125,-0.631103515625)"/>
          <path d="M0 0 C1.2457802 -0.00551503 1.2457802 -0.00551503 2.51672769 -0.01114148 C5.31570303 -0.02220518 8.11464129 -0.0260267 10.91363525 -0.02983093 C12.91402302 -0.03609355 14.91440961 -0.04274017 16.91479492 -0.04974365 C22.3611826 -0.06717205 27.80756148 -0.07771041 33.25397015 -0.08594918 C36.65481151 -0.0910954 40.05565013 -0.0971713 43.45648956 -0.10346031 C54.09142958 -0.12251745 64.72636263 -0.13674752 75.36131644 -0.14507228 C87.64774784 -0.15484786 99.93399924 -0.18117365 112.22036719 -0.22157317 C121.71002093 -0.2517085 131.19962299 -0.2665387 140.68932366 -0.26985329 C146.36030316 -0.27220672 152.03109046 -0.28120518 157.70201874 -0.30631447 C163.03720077 -0.32955496 168.37206353 -0.33384456 173.70728302 -0.32355309 C175.66564494 -0.32305664 177.62402236 -0.32940908 179.58233643 -0.34310913 C182.25612162 -0.36076802 184.92875358 -0.35375166 187.60253906 -0.34057617 C188.37745123 -0.35154542 189.15236339 -0.36251466 189.95075774 -0.37381631 C195.13162759 -0.31218466 198.04606005 0.9059749 202.05523682 4.14717102 C204.91057839 7.35370433 206.3064959 10.86882725 206.55523682 15.14717102 C206.3064959 19.42551479 204.91057839 22.94063771 202.05523682 26.14717102 C197.30801847 29.98017984 193.56458788 30.72368838 187.62945557 30.65510559 C186.37854881 30.66446553 186.37854881 30.66446553 185.10237122 30.67401457 C182.3155365 30.68993495 179.5295776 30.67734419 176.74273682 30.66474915 C174.74175507 30.67017069 172.74077732 30.67729353 170.73980713 30.68598938 C165.31008107 30.70422174 159.8806591 30.69715545 154.45092773 30.68447304 C148.76824118 30.67434499 143.08558064 30.68373818 137.40289307 30.6900177 C127.85987677 30.69729466 118.31698431 30.68770507 108.77398682 30.6686554 C97.74146094 30.64688663 86.70923075 30.65393796 75.67671204 30.67596102 C66.20393849 30.69411358 56.73125395 30.69667402 47.25846863 30.68620634 C41.6009944 30.67997065 35.94365915 30.67913795 30.28619385 30.69235229 C24.96732748 30.70390799 19.64884229 30.69588992 14.33001709 30.67277527 C12.37811923 30.66748672 10.42618929 30.66900444 8.4743042 30.67782593 C5.8094426 30.68875919 3.1458019 30.67504491 0.48101807 30.65510559 C-0.67725746 30.66848992 -0.67725746 30.66848992 -1.8589325 30.68214464 C-7.0308923 30.607097 -9.94677263 29.38856922 -13.94476318 26.14717102 C-17.49057354 22.11228337 -18.24836497 18.58055693 -18.15960693 13.20576477 C-17.68283344 8.63740785 -15.71913433 5.84599376 -12.38226318 2.83467102 C-8.17923674 -0.07511651 -4.98338731 -0.00117212 0 0 Z " fill="#000000" transform="translate(161.94476318359375,240.8528289794922)"/>
          <path d="M0 0 C10.32223252 9.67586881 15.02467766 21.49343293 15.74609375 35.42578125 C15.51039836 49.34654001 10.63243736 60.84158879 1.1328125 70.859375 C-2.68350261 74.37744539 -6.66510554 76.84826033 -11.31640625 79.1171875 C-12.10015625 79.5296875 -12.88390625 79.9421875 -13.69140625 80.3671875 C-23.82614901 84.92782174 -37.94341162 85.05133668 -48.44140625 81.4921875 C-50.08978127 80.75041874 -51.71684194 79.95906345 -53.31640625 79.1171875 C-54.16203125 78.7046875 -55.00765625 78.2921875 -55.87890625 77.8671875 C-67.16269616 71.81247096 -74.58843276 61.98310135 -78.31640625 49.8671875 C-81.64997534 36.53291115 -80.57009506 24.41449289 -74.31640625 12.1171875 C-67.36375521 1.00309569 -57.2254789 -6.81920868 -44.67578125 -10.69921875 C-28.44581089 -14.3484102 -12.89781042 -10.48354911 0 0 Z M-45.69140625 25.4921875 C-48.70652941 30.36277107 -49.86888735 34.32189524 -48.91796875 40.09375 C-47.45243478 45.02327334 -44.66169875 48.25849016 -40.37890625 50.9921875 C-34.58389118 53.12096855 -30.89465567 53.53464241 -25.20703125 51.125 C-19.75136795 48.21681584 -17.0835941 43.90963657 -15.31640625 38.1171875 C-15.04245734 32.46288199 -16.65218361 28.47464145 -20.31640625 24.1171875 C-28.71637442 16.88930791 -38.07305674 17.87383799 -45.69140625 25.4921875 Z " fill="#000000" transform="translate(288.31640625,310.8828125)"/>
          <path d="M0 0 C1.2684375 0.61875 1.2684375 0.61875 2.5625 1.25 C13.84628991 7.30471654 21.27202651 17.13408615 25 29.25 C28.33356909 42.58427635 27.25368881 54.70269461 21 67 C14.05764392 78.0976349 3.75453437 86.28535595 -8.93359375 89.81640625 C-22.96340022 92.59901697 -35.75264263 90.63003815 -48 83 C-58.90018767 74.99614791 -66.38967168 64.24068168 -68.5 50.8203125 C-69.95019806 37.25491815 -67.28331184 24.36115951 -59.02734375 13.375 C-54.05545001 7.4823852 -48.91751534 3.37439773 -42 0 C-41.21625 -0.4125 -40.4325 -0.825 -39.625 -1.25 C-27.80349493 -6.56967728 -11.40921758 -6.00485136 0 0 Z M-32.8125 31.25 C-36.23629721 35.55420221 -38.37389643 39.4851407 -37.9375 45.0625 C-36.96170366 50.42937989 -34.39592933 53.82615034 -30.25 57.3125 C-24.93967849 60.06978232 -20.46631134 60.72627647 -14.8125 58.9375 C-9.60564315 56.68699213 -7.06650977 53.22997498 -4.625 48.125 C-3.4873071 42.4365355 -4.03768341 38.00367118 -7.1875 33.1875 C-10.3982881 29.13710927 -13.99177164 27.61119994 -18.875 26.125 C-24.44710971 25.90211561 -28.50466627 27.80373302 -32.8125 31.25 Z " fill="#000000" transform="translate(277,122)"/>
          <path d="M0 0 C3.9323173 2.65202795 6.18648186 5.30944559 7.6875 9.8125 C8.31929995 15.15690615 8.09123786 19.73239477 5.08203125 24.3046875 C1.49299292 28.18527236 -2.79792419 29.62970637 -7.9375 30.25 C-13.22235436 29.56492629 -16.653234 27.81149694 -20.125 23.8125 C-23.35643706 19.38081489 -23.75618768 16.22548966 -23.3125 10.8125 C-21.94223858 6.38804144 -20.04923225 2.89519239 -16.125 0.3125 C-10.76047438 -2.27766795 -5.50422891 -1.97321414 0 0 Z " fill="#000000" transform="translate(424.3125,81.1875)"/>
          </svg>
      {{ settings.promo_tab_title }}
      </button>
    {% endif %}
  </div>
  <ul class="tab-body">
    {% if settings.show_cart_note %}
    <li id="note" class="tab-content" role="tabpanel" aria-labelledby="tab-note" hidden>
      <cart-note class="cart__note">
        <textarea id="CartDrawer-Note" class="text-area" name="note" placeholder="{{ settings.note_placeholder }}">{{ cart.note }}</textarea>
      </cart-note>
    </li>
    {% endif %}
    {% if settings.show_promo_code %}
    <li id="promo" class="tab-content" role="tabpanel" aria-labelledby="tab-promo" hidden>
      <cart-promo class="cart__promo">
        <input id="CartDrawer-Promo" class="input-promo" name="discount" type="text" placeholder="{{ settings.promo_placeholder }}">
        <button type="submit" class="promo-button">{{ settings.promo_button_text }}</button>
      </cart-promo>
    </li>
    {% endif %}

    
  </ul>
</div>
{% endif %}
        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    <span class="discount-label">
                    {{ discount.title | escape }}
                    {{- 'icon-discount.svg' | inline_asset_content -}}
                    </span>
                    <span class="discount-value">
                    -{{ discount.total_allocated_amount | money }}
                    </span>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <div class="totals" role="status">
            <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
            <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
          </div>

          <small class="tax-note caption-large rte">
            {%- if cart.duties_included and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- endif -%}
          </small>
        </div>

        <!-- CTAs -->

        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button button"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>
