{%- liquid

  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width

  assign icon-blocks_row = section.settings.icon-blocks_row
  assign icon-blocks_row_mobile = section.settings.icon-blocks_row_mobile
  assign icon-blocks_gap_mobile = section.settings.icon-blocks_gap_mobile
  assign icon-blocks_gap = section.settings.icon-blocks_gap
  assign icon-blocks_padding_vertical = section.settings.icon-blocks_padding_vertical
  assign icon-blocks_padding_horizontal = section.settings.icon-blocks_padding_horizontal
  assign icon-blocks_border_thickness = section.settings.icon-blocks_border_thickness
  assign icon-blocks_border_color = section.settings.icon-blocks_border_color
  assign icon-blocks_bg = section.settings.icon-blocks_bg
  assign icon-blocks_radius = section.settings.icon-blocks_radius
  assign icon-blocks_shadow_color = section.settings.icon-blocks_shadow_color
  assign icon-blocks_shadow = section.settings.icon-blocks_shadow
  
  assign icon-blocks_heading_size = section.settings.icon-blocks_heading_size
  assign icon-blocks_heading_size_mobile = section.settings.icon-blocks_heading_size_mobile
  assign icon-blocks_heading_color = section.settings.icon-blocks_heading_color
  assign icon-blocks_heading_font = section.settings.icon-blocks_heading_font
  assign icon-blocks_heading_height = section.settings.icon-blocks_heading_height

  assign icon-blocks_text_size = section.settings.icon-blocks_text_size
  assign icon-blocks_text_size_mobile = section.settings.icon-blocks_text_size_mobile
  assign icon-blocks_text_color = section.settings.icon-blocks_text_color
  assign icon-blocks_text_font = section.settings.icon-blocks_text_font
  assign icon-blocks_text_height = section.settings.icon-blocks_text_height
  assign icon-blocks_text_mt = section.settings.icon-blocks_text_mt

  assign icon-blocks_icon_size_mobile = section.settings.icon-blocks_icon_size_mobile
  assign icon-blocks_icon_size = section.settings.icon-blocks_icon_size
  assign icon-blocks_icon_color = section.settings.icon-blocks_icon_color
   
-%}
{% style %}

  {{ icon-blocks_text_font | font_face: font_display: 'swap' }}
  {{ icon-blocks_heading_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .icon-blocks-{{ section.id }} .box__title {
    margin: 0px;
    font-size: {{ icon-blocks_heading_size_mobile }}px;
    color: {{ icon-blocks_heading_color }};
    line-height: {{ icon-blocks_heading_height }}%;
    text-transform: unset;
    font-weight: bold;
    margin-top: {{section.settings.icon-blocks_heading_mt}}px;
  }
  
  .icon-blocks-{{ section.id }} .box__description {
    margin: 0px;
    margin-top: {{ icon-blocks_text_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ icon-blocks_text_size_mobile }}px;
    color: {{ icon-blocks_text_color }};
    line-height: {{ icon-blocks_text_height }}%;
    text-transform: unset;
  }

  .icon-blocks-{{ section.id }} .wrapper-box {
    display: grid;
     grid-template-columns: repeat(
      auto-fit,
      minmax(
        {{ section.settings.box_width_mobile }}px,
        calc((100% - {{ icon-blocks_gap_mobile }}px * ({{ icon-blocks_row_mobile }} - 1)) / {{ icon-blocks_row_mobile }})
      )
    );
    background-color: {{ icon-blocks_bg }};
    {% if section.settings.box_background_gradient %}
    background-image: {{ section.settings.icon-blocks_bg_gradient }}; 
  {% endif %}
    border: {{ icon-blocks_border_thickness }}px solid {{ icon-blocks_border_color }};
    border-radius: {{ icon-blocks_radius }}px;
    padding: {{ icon-blocks_padding_vertical | times: 0.75 | round: 0 }}px {{ icon-blocks_padding_horizontal | times: 0.75 | round: 0 }}px;
    gap: {{ icon-blocks_gap_mobile }}px;
    max-width: 100%;
    box-sizing: border-box;
    width: {{ section.settings.wrapper_box_width_mobile }}%; 
    margin: 0 auto;
    justify-content: center;
  }
  
  .icon-blocks-{{ section.id }} .box {
    max-width: {{ section.settings.box_width_mobile }}px;
    width: 100%;
    word-break: break-word;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    text-decoration: none;
    gap: 5px;
    margin: 0 auto;
    background-color: {{ section.settings.box_background_color }};
  {% if section.settings.box_background_gradient %}
    background-image: {{ section.settings.box_background_gradient }}; 
  {% endif %}
    border: {{ section.settings.box_border_thickness }}px solid {{ section.settings.box_border_color }};
  {% if section.settings.box_shadow_enable %}
    box-shadow: {{ section.settings.box_shadow_x }}px {{ section.settings.box_shadow_y }}px {{ section.settings.box_shadow_blur }}px {{ section.settings.box_shadow_spread }}px rgba( {{ section.settings.box_shadow_color | color_extract: 'red' }}, {{ section.settings.box_shadow_color | color_extract: 'green' }}, {{ section.settings.box_shadow_color | color_extract: 'blue' }},  {{ section.settings.box_shadow_opacity }});
  {% endif %}
    border-radius: {% if section.settings.transform_to_circle %} 50% {% else %} {{ section.settings.box_border_radius }}px {% endif %};
    {% if section.settings.transform_to_circle %}
      height: {{ section.settings.box_width_mobile }}px;
    {% endif %}
    padding: {{ section.settings.box_padding_vertical }}px {{ section.settings.box_padding_horizontal }}px;
    box-sizing: border-box;
    justify-content: center;
}
  
  .icon-blocks-{{ section.id }} .box__image {
    display:flex;
    flex: 0 0 {{ icon-blocks_icon_size_mobile }}px;
    height: {{ icon-blocks_icon_size_mobile }}px;
  }

  .icon-blocks-{{ section.id }} .box__image img,
  .icon-blocks-{{ section.id }} .box__image svg {
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .icon-blocks-{{ section.id }} .box__image svg path {
    fill: {{ icon-blocks_icon_color }};
  }

  @media(min-width: 768px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .icon-blocks-{{ section.id }} .wrapper-box {
      display: grid;
       grid-template-columns: repeat(
      auto-fit,
      minmax(
        {{ section.settings.box_width_desktop }}px,
        calc((100% - {{ icon-blocks_gap }}px * ({{ icon-blocks_row }} - 1)) / {{ icon-blocks_row }})
      )
    );
      padding: {{ icon-blocks_padding_vertical }}px {{ icon-blocks_padding_horizontal }}px;
      gap: {{ icon-blocks_gap }}px;
      width: {{ section.settings.wrapper_box_width }}%; 
    }

    .icon-blocks-{{ section.id }} .box {
     max-width: {{ section.settings.box_width_desktop }}px;
    {% if section.settings.transform_to_circle %}
      height: {{ section.settings.box_width_desktop }}px;
    {% endif %}
     width: 100%;
     box-sizing: border-box;
    }

    {% if section.settings.font_title_custom %}
      .icon-blocks-{{ section.id }} .box__title {
        font-family: {{ icon-blocks_heading_font.family }}, {{ icon-blocks_heading_font.fallback_families }};
        font-weight: {{ icon-blocks_heading_font.weight }};
        font-style: {{ icon-blocks_heading_font.style }};
      }
    {% endif %} 

    .icon-blocks-{{ section.id }} .box__title {
      font-size: {{ icon-blocks_heading_size }}px;
    }

    {% if section.settings.font_description_custom %}
      .icon-blocks-{{ section.id }} .box__description {
          font-family: {{ icon-blocks_text_font.family }}, {{ icon-blocks_text_font.fallback_families }};
          font-weight: {{ icon-blocks_text_font.weight }};
          font-style: {{ icon-blocks_text_font.style }};
      }
    {% endif %} 
    
    .icon-blocks-{{ section.id }} .box__description {
      margin-top: {{ icon-blocks_text_mt }}px;
      font-size: {{ icon-blocks_text_size }}px;
    }

    .section-{{ section.id }}-settings .box__image {
      flex: 0 0 {{ icon-blocks_icon_size }}px;
      height: {{ icon-blocks_icon_size }}px;
    }
  }
{% endstyle %}


{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if icon-blocks_shadow %}
  <style>
    .icon-blocks-{{ section.id }} .wrapper-box {
       box-shadow: 4px 4px 20px {{ icon-blocks_shadow_color | hex_to_rgba: 0.2 }};
    }
  </style>
{% endif %}

{% capture svg_example %}
  <svg class='icon icon--medium icon--type-star' stroke-width='1' aria-hidden='true' focusable='false' role='presentation' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M8 1c.21 0 .4.13.47.33l1.62 4.54 4.92.1a.5.5 0 01.29.9l-3.92 2.9 1.42 4.58a.5.5 0 01-.75.56L8 12.17 3.95 14.9a.5.5 0 01-.75-.56l1.42-4.58L.7 6.87a.5.5 0 01.29-.9l4.92-.1 1.62-4.54A.5.5 0 018 1zm0 2L6.74 6.52a.5.5 0 01-.46.33l-3.8.08L5.5 9.17a.5.5 0 01.18.55l-1.1 3.56 3.14-2.13a.5.5 0 01.56 0l3.15 2.13-1.1-3.56a.5.5 0 01.17-.55l3.02-2.23-3.8-.08a.5.5 0 01-.46-.33L8 2.99z'></path></svg>
{% endcapture %}

<div class="section-{{ section.id }} icon-blocks-{{ section.id }} content-for-grouping {% if section.settings.mobile-hidden %} mobile-hidden {% endif %} {% if section.settings.tablet-hidden %} tablet-hidden {% endif %} {% if section.settings.laptop-hidden %} laptop-hidden {% endif %} {% if section.settings.desktop-hidden %} desktop-hidden {% endif %}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
  {% if section.settings.display_id %}
    <copy-button class='section-id-btn button' data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Cliquez pour copier l'ID de la section</span>
      <span class="copy-success">ID de la section copié !</span>
    </copy-button>
  {% endif %}
    <div class="section-{{ section.id }}-settings ">
      <div class="wrapper-box {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- for block in section.blocks -%}
              <{% if block.settings.icon-blocks_url != blank %}a href="{{ block.settings.icon-blocks_url }}"{% else %}div{% endif %} class="box">
                  {% unless block.settings.hide_image %}
                  <div class="box__image">
                      {%- if block.settings.icon-blocks_image != blank -%}
                        <img 
                          src="{{ block.settings.icon-blocks_image | image_url: width: 400, format: 'webp' }}" 
                          alt="icon-blocks-item-{{ forloop.index }}" 
                          loading="lazy">
                      {%- else -%}
                          {{ svg_example }}
                      {%- endif -%}
                  </div>
                  {% endunless %}
                  <div class="box__content-wrapper">
                      <div class="box__title">{{ block.settings.icon-blocks_title }}</div>
                      <div class="box__description">{{ block.settings.icon-blocks_text }}</div>
                  </div>
              </{% if block.settings.icon-blocks_url != blank %}a{% else %}div{% endif %}>
          {%- endfor -%}
      </div>
  </div>
</div>



{% schema %}
{
    "name": "Blocs d'icônes cliquables",
    "tag": "section",
    "class": "type-caracteristique1",
    "settings": [
         {
      "type": "header",
      "content": "ID de la section"
      },
      {
      "type": "checkbox",
      "id": "display_id",
      "label": "Afficher le bouton pour copier l'ID de la section",
      "info": "L'ID peut être utilisé dans la section 'Double section' pour afficher 2 sections sur la même ligne ou dans la section 'Onglets' pour afficher la section dans des onglets. L'ID peut également être utilisé dans un lien de bouton pour faire défiler la page jusqu'à cette section.",
      "default": false
      },
      {
      "type": "header",
      "content": "Masquer la section selon le type d'appareil"
      },
      {
        "type": "checkbox",
        "id": "mobile-hidden",
        "label": "Masquer sur mobile",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "tablet-hidden",
        "label": "Masquer sur tablette",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "laptop-hidden",
        "label": "Masquer sur ordinateur portable",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "desktop-hidden",
        "label": "Masquer sur ordinateur",
        "default": false
      },
        {
            "type": "header",
            "content": "Paramètres généraux"
        },
        {
            "type": "range",
            "id": "icon-blocks_row",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "Blocs par ligne",
            "info": "Si la largeur de l'écran le permet. Dans le cas contraire, le nombre de blocs par ligne s'ajustera automatiquement. Vous pouvez également réduire la largeur d'un bloc",
            "default": 4
        },
        {
            "type": "range",
            "id": "icon-blocks_row_mobile",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Blocs par ligne sur mobile",
            "info": "Si la largeur de l'écran le permet. Dans le cas contraire, le nombre de blocs par ligne s'ajustera automatiquement. Vous pouvez également réduire la largeur d'un bloc",
            "default": 2
        },
        {
            "type": "range",
            "id": "icon-blocks_gap",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Espace entre les blocs",
            "default": 20
        },
        {
            "type": "range",
            "id": "icon-blocks_gap_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Espace entre les blocs sur mobile",
            "default": 20
        },
        {
            "type": "range",
            "id": "icon-blocks_padding_vertical",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Marge intérieure vertical",
            "default": 20
        },
        {
            "type": "range",
            "id": "icon-blocks_padding_horizontal",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Marge intérieure horizontal",
            "default": 0
        },
        {
            "type": "range",
            "id": "icon-blocks_radius",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Arrondi de la bordure",
            "default": 0
        },
        {
            "type": "range",
            "id": "icon-blocks_border_thickness",
            "min": 0,
            "max": 10,
            "step": 1,
            "unit": "px",
            "label": "Épaisseur de la bordure",
            "default": 0
        },
        {
            "type": "color",
            "id": "icon-blocks_border_color",
            "label": "Couleur de la bordure",
            "default": "#000000"
        },
        {
            "type": "checkbox",
            "id": "icon-blocks_shadow",
            "label": "Utiliser une ombre",
            "default": false
        },
       {
            "type": "color",
            "id": "icon-blocks_shadow_color",
            "label": "Couleur de l'ombre",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "icon-blocks_bg",
            "label": "Couleur de fond",
            "default": "#FFFFFF"
        },
        {
            "type": "color_background",
            "id": "icon-blocks_bg_gradient",
            "label": "Dégradé du fond",
        },
        {
            "type": "header",
            "content": "Paramètres du bloc"
        },
        {
            "type": "checkbox",
            "id": "transform_to_circle",
            "label": "Transformer en cercle",
            "info": "Applique un arrondi maximum à chaque bloc pour les transformer en cercle.",
            "default": false
        },
        {
            "type": "range",
            "id": "box_width_desktop",
            "min": 50,
            "max": 350,
            "step": 5,
            "unit": "px",
            "label": "Largeur d'un bloc",
            "default": 210
        },
        {
            "type": "range",
            "id": "box_width_mobile",
            "min": 0,
            "max": 250,
            "step": 5,
            "unit": "px",
            "label": "Largeur d'un bloc sur mobile",
            "default": 150
        },
        {
          "type": "range",
          "id": "wrapper_box_width",
          "label": "Largeur du groupe de blocs",
          "min": 50,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 100
        },
        {
          "type": "range",
          "id": "wrapper_box_width_mobile",
          "label": "Largeur du groupe de blocs sur mobile",
          "min": 50,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 100
        },
        {
            "type": "range",
            "id": "box_padding_vertical",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Marges intérieures verticale",
            "default": 20
        },
        {
            "type": "range",
            "id": "box_padding_horizontal",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Marges intérieures horizontale",
            "default": 20
        },
        {
            "type": "color",
            "id": "box_background_color",
            "label": "Couleur de fond",
            "default": "#FFFFFF"
        },
        {
            "type": "color_background",
            "id": "box_background_gradient",
            "label": "Dégradé du fond",
        },
        {
            "type": "range",
            "id": "box_border_thickness",
            "min": 0,
            "max": 10,
            "step": 1,
            "unit": "px",
            "label": "Épaisseur de la bordure",
            "default": 0
        },
        {
            "type": "color",
            "id": "box_border_color",
            "label": "Couleur de la bordure",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "box_border_radius",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Arrondi de la bordure",
            "default": 10
        },
        {
            "type": "checkbox",
            "id": "box_shadow_enable",
            "label": "Activer l'ombre",
            "default": true
        },
        {
            "type": "color",
            "id": "box_shadow_color",
            "label": "Couleur de l'ombre",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "box_shadow_opacity",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "label": "Opacité de l'ombre",
            "default": 0.2
        },
        {
            "type": "range",
            "id": "box_shadow_x",
            "min": -50,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Déplacement horizontal de l'ombre (X)",
            "default": 0
        },
        {
            "type": "range",
            "id": "box_shadow_y",
            "min": -50,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Déplacement vertical de l'ombre (Y)",
            "default": 0
        },
        {
            "type": "range",
            "id": "box_shadow_blur",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Flou de l'ombre",
            "default": 10
        },
        {
            "type": "range",
            "id": "box_shadow_spread",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Propagation de l'ombre",
            "default": 0
        },
        {
            "type": "header",
            "content": "Paramètres du titre"
        },
        {
            "type": "checkbox",
            "id": "font_title_custom",
            "label": "Appliquer une police différente du thème",
            "default": false
        },
        {
            "type": "font_picker",
            "id": "icon-blocks_heading_font",
            "label": "Police du titre des blocs",
            "default": "poppins_n8"
        },
        {
            "type": "range",
            "id": "icon-blocks_heading_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Taille de la police du titre",
            "default": 16
        },
        {
            "type": "range",
            "id": "icon-blocks_heading_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Taille de la police du titre sur mobile",
            "default": 14
        },
        {
            "type": "range",
            "id": "icon-blocks_heading_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Interligne du titre",
            "default": 120
        },
        {
            "type": "range",
            "id": "icon-blocks_heading_mt",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Marge supérieure du titre",
            "default": 8
        },
        {
            "type": "color",
            "id": "icon-blocks_heading_color",
            "label": "Couleur du titre",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "Paramètres du texte"
        },
       {
            "type": "checkbox",
            "id": "font_description_custom",
            "label": "Appliquer une police différente du thème",
            "default": false
        },
        {
            "type": "font_picker",
            "id": "icon-blocks_text_font",
            "label": "Police du texte du bloc",
            "default": "poppins_n4"
        },
        {
            "type": "range",
            "id": "icon-blocks_text_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Taille de la police du texte",
            "default": 12
        },
        {
            "type": "range",
            "id": "icon-blocks_text_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Taille de la police du texte sur mobile",
            "default": 12
        },
        {
            "type": "range",
            "id": "icon-blocks_text_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Interligne du texte",
            "default": 120
        },
        {
            "type": "range",
            "id": "icon-blocks_text_mt",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Marge supérieure du texte",
            "default": 4
        },
        {
            "type": "color",
            "id": "icon-blocks_text_color",
            "label": "Couleur du texte",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "Paramètres de l'icône"
        },
        {
            "type": "range",
            "id": "icon-blocks_icon_size",
            "min": 10,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Taille de l'icône",
            "default": 46
        },
        {
            "type": "range",
            "id": "icon-blocks_icon_size_mobile",
            "min": 10,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Taille de l'icône sur mobile",
            "default": 46
        },
        {
            "type": "color",
            "id": "icon-blocks_icon_color",
            "label": "Couleur de l'icône",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "Paramètres de la section"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Couleur de fond",
            "default": "#FFFFFF"
        },
        {
            "type": "color_background",
            "id": "background_gradient",
            "label": "Dégradé de fond"
        },
        {
            "type": "range",
            "id": "border_thickness",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Épaisseur de la bordure de la section",
            "default": 0
        },
        {
            "type": "color",
            "id": "border_color",
            "label": "Couleur de la bordure",
            "default": "#000000"
        },
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Pleine largeur",
            "default": false
        },
        {
            "type": "range",
            "id": "content_width",
            "min": 0,
            "max": 400,
            "step": 10,
            "unit": "rem",
            "label": "Largeur du contenu de la section",
            "default": 120
        },
        {
            "type": "header",
            "content": "Marges externes"
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Marge supérieure",
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Marge inférieure",
            "default": 0
        },
        {
            "type": "header",
            "content": "Marges internes"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Marge supérieur",
            "default": 16
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Marge inférieur",
            "default": 16
        },
        {
            "type": "range",
            "id": "padding_horizontal",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "rem",
            "label": "Marge latérale",
            "default": 5
        },
        {
            "type": "range",
            "id": "padding_horizontal_mobile",
            "min": 0,
            "max": 15,
            "step": 0.5,
            "unit": "rem",
            "label": "Marge latérale sur mobile",
            "default": 1.5
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Blocs d'icônes cliquables",
            "settings": [
                {
                    "type": "text",
                    "id": "icon-blocks_title",
                    "label": "Titre",
                    "default": "Titre"
                },
                {
                    "type": "text",
                    "id": "icon-blocks_text",
                    "label": "Texte",
                    "default": "<p>Texte</p>"
                },
                {
                    "type": "image_picker",
                    "id": "icon-blocks_image",
                    "label": "Icône"
                },
                {
                    "type": "url",
                    "id": "icon-blocks_url",
                    "label": "Lien"
                },
                {
                    "type": "checkbox",
                    "id": "hide_image",
                    "default": false,
                    "label": "Masquer l'image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Blocs d'icônes cliquables",
            "blocks": [
                {
                    "type": "image",
                    "settings": {
                        "icon-blocks_title": "Titre",
                        "icon-blocks_text": "Texte"
                    }
                },
                {
                    "type": "image",
                    "settings": {
                        "icon-blocks_title": "Titre",
                        "icon-blocks_text": "Texte"
                    }
                },
                {
                    "type": "image",
                    "settings": {
                        "icon-blocks_title": "Titre",
                        "icon-blocks_text": "Texte"
                    }
                },
                {
                    "type": "image",
                    "settings": {
                        "icon-blocks_title": "Titre",
                        "icon-blocks_text": "Texte"
                    }
                }
            ]
        }
    ]
}
{% endschema %}

